/* components/meteor-cta.css */
.meteor-cta {
  padding: 13px 0 13px 22px;
  border-left: solid 4px #fb773d;
}
.meteor-cta h3,
.meteor-cta p {
  width: 100%;
  margin: 0;
}
.meteor-cta h3 {
  color: #292929;
  font-size: 135%;
  font-weight: 500;
}
.meteor-cta p {
  color: #acacac;
  margin-top: 0.25em;
  font-weight: 300;
}
.meteor-cta .button-container {
  margin-top: 1em;
}
.meteor-cta a.meteor-button {
  top: 0.25em;
  margin-left: 1.5em;
}
.meteor-cta.boxed a.meteor-button {
  margin: 0;
}
@media (max-width: 979px) {
  .meteor-cta h3 {
    font-size: 125%;
  }
}
@media (max-width: 767px) {
  .meteor-cta.boxed a.meteor-button {
    width: 100%;
  }
  .meteor-cta a.meteor-button.visible-phone {
    margin-top: 1em;
    margin-left: 0;
  }
}
