/* components/meteor-photostream.css */
.meteor-gallery .row-fluid + .row-fluid {
  margin-top: 26px;
}
.meteor-gallery .row-fluid .item .frame img {
  width: 100%;
}
.meteor-gallery .row-fluid .item .meta {
  margin-bottom: 0;
}
.meteor-gallery .meteor-post {
  margin-top: 21px;
}
.meteor-photostream ul {
  margin-top: -14px;
}
.meteor-photostream ul li {
  position: relative;
  list-style: none;
  float: left;
  margin: 14px 0 0 0;
}
footer .meteor-photostream ul li {
  -webkit-transition: box-shadow 300ms ease-in-out;
  -moz-transition: box-shadow 300ms ease-in-out;
  -o-transition: box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.33);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.33);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.33);
  background: rgba(79, 79, 79, 0.7);
}
footer .meteor-photostream ul li:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.meteor-photostream ul li a {
  *zoom: 1;
}
.meteor-photostream ul li a:before,
.meteor-photostream ul li a:after {
  display: table;
  content: "";
  line-height: 0;
}
.meteor-photostream ul li a:after {
  clear: both;
}
.meteor-photostream ul li a img {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  z-index: 1;
}
.meteor-photostream ul li a span.overlay,
.meteor-photostream ul li a span.highlight {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.meteor-photostream ul li a span.highlight {
  -webkit-box-shadow: 1px 1px 0 #ffffff inset;
  -moz-box-shadow: 1px 1px 0 #ffffff inset;
  -o-box-shadow: 1px 1px 0 #ffffff inset;
  box-shadow: 1px 1px 0 #ffffff inset;
  opacity: 0.12;
  z-index: 3;
}
.meteor-photostream ul li a span.overlay {
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  background: #fa5b15;
  opacity: 0;
  z-index: 2;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
}
.meteor-photostream ul li a:hover span.overlay {
  opacity: 0.2;
}
.meteor-photostream ul li a:after {
  position: absolute;
  display: block;
  content: "\020";
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.28);
  z-index: 4;
}
.meteor-photostream ul {
  margin-left: -5%;
}
.meteor-photostream ul li {
  width: 28.333333333333332%;
  margin-top: 14px;
  margin-left: 5%;
}
@media (min-width: 1200px) {
  body[data-widescreen=true] .meteor-photostream ul {
    margin-left: -6.5%;
  }
  body[data-widescreen=true] .meteor-photostream ul li {
    width: 26.833333333333332%;
    margin-top: 14px;
    margin-left: 6.5%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .meteor-photostream ul {
    margin-left: -4.49%;
  }
  .meteor-photostream ul li {
    width: 28.843333333333334%;
    margin-top: 14px;
    margin-left: 4.49%;
  }
  .meteor-photostream ul {
    margin-top: -10px;
  }
  .meteor-photostream ul li {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .meteor-post .post-meta.mobile-icon {
    padding-left: 45px;
  }
  .not-ie .meteor-gallery .row-fluid,
  .gt8 .meteor-gallery .row-fluid {
    display: none;
  }
  .not-ie .meteor-gallery .row-fluid:first-child,
  .gt8 .meteor-gallery .row-fluid:first-child {
    display: block;
  }
  .not-ie .meteor-gallery .row-fluid .item,
  .gt8 .meteor-gallery .row-fluid .item {
    float: left;
    width: 47.8%;
  }
  .not-ie .meteor-gallery .row-fluid .item .meta,
  .gt8 .meteor-gallery .row-fluid .item .meta {
    text-align: center;
  }
  .not-ie .meteor-gallery .row-fluid .item:first-child + .odd,
  .gt8 .meteor-gallery .row-fluid .item:first-child + .odd {
    margin-top: 0;
  }
  .not-ie .meteor-gallery .row-fluid .item:first-child + .odd + .item,
  .gt8 .meteor-gallery .row-fluid .item:first-child + .odd + .item {
    clear: both;
  }
  .not-ie .meteor-gallery .row-fluid .item.odd,
  .gt8 .meteor-gallery .row-fluid .item.odd {
    margin-left: 4.400000000000006%;
  }
  .not-ie .meteor-gallery .row-fluid .item.odd + .item,
  .gt8 .meteor-gallery .row-fluid .item.odd + .item,
  .not-ie .meteor-gallery .row-fluid .item.odd + .item + .item,
  .gt8 .meteor-gallery .row-fluid .item.odd + .item + .item {
    margin-top: 26px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .meteor-photostream ul {
    margin-left: -3%;
  }
  .meteor-photostream ul li {
    width: 13.666666666666666%;
    margin-top: 14px;
    margin-left: 3%;
  }
}
@media (max-width: 479px) {
  .meteor-gallery .row-fluid + .row-fluid,
  .meteor-gallery .row-fluid .item + .item {
    margin-top: 26px;
  }
  .meteor-gallery .row-fluid .item .meta {
    display: none;
  }
  .meteor-photostream ul {
    margin-left: -8%;
  }
  .meteor-photostream ul li {
    width: 25.333333333333332%;
    margin-top: 14px;
    margin-left: 8%;
  }
  .meteor-photostream ul {
    margin-top: -20px;
  }
  .meteor-photostream ul li {
    margin-top: 20px;
  }
}
