/* components/meteor-aside-posts.css */
.meteor-aside-posts > ul {
  margin: 0;
  padding: 0;
}
.meteor-aside-posts > ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.meteor-aside-posts > ul > li + li {
  margin-top: 1.5em;
}
.meteor-aside-posts > ul > li > div.frame {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 1em 0 0;
}
.meteor-aside-posts > ul > li > div.frame + * {
  margin-top: 0 !important;
}
.meteor-aside-posts > ul > li > div.meta {
  margin-bottom: 0.5em;
}
.meteor-aside-posts > ul > li > div.meta h3 {
  font-size: 100%;
  font-weight: 600;
  margin: 0;
}
.meteor-aside-posts > ul > li > div.meta h3 a {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #292929;
}
.meteor-aside-posts > ul > li > div.meta h3 a:hover {
  color: #fa5b15;
}
.meteor-aside-posts > ul > li > div.meta h3 + small.desc {
  margin-top: 0.5em;
}
.meteor-aside-posts > ul > li > div.text {
  color: #4f4f4f;
}
.meteor-aside-posts > ul > li > div.text div.excerpt {
  padding-top: 0.2em;
  margin: 0 0 0.6em 0;
}
.meteor-aside-posts > ul > li > div.text div.excerpt *:last-child {
  margin-bottom: 0 !important;
}
.meteor-aside-posts > ul > li > div.text a.read-more {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
.meteor-aside-posts > ul > li > div.text a.read-more:hover {
  text-decoration: none;
}
.meteor-aside-posts > ul > li > div.text a.read-more.black {
  color: #292929;
}
.meteor-aside-posts > ul > li > div.text a.read-more.black:hover {
  color: #fa5b15 !important;
}
.meteor-aside-posts > ul > li > div.text a.meteor-capsule {
  -webkit-transition: background 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}
