/* components/meteor-tabs.css */
.meteor-tabs {
  margin-bottom: 1em;
}
footer .meteor-tabs * {
  text-shadow: none !important;
}
.meteor-tabs > br {
  display: none !important;
}
.meteor-tabs > ul.tabs-head {
  margin: 0 0 -1px;
  padding: 0;
}
.meteor-tabs > ul.tabs-head li {
  display: inline-block;
  font-family: "Raleway";
  font-size: 90%;
  font-weight: 600;
  line-height: 1em;
  color: #6f6f6f;
  list-style: none;
  float: left;
  padding: 13px 18px;
  border: solid #dbdbdb;
  border-width: 1px 1px 0;
  background: #fcfcfc;
  margin: 0;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: -webkit-linear-gradient(#fcfcfc, #f1f1f1);
  background-image: -moz-linear-gradient(#fcfcfc, #f1f1f1);
  background-image: -o-linear-gradient(#fcfcfc, #f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1')";
  /* IE8+ */

  background-image: linear-gradient(#fcfcfc, #f1f1f1);
}
.ie .meteor-tabs > ul.tabs-head li {
  border-radius: 0 !important;
}
footer .meteor-tabs > ul.tabs-head li {
  background: #454545;
  border-color: #515151;
  color: #a7a7a7;
  text-shadow: 0 1px 1px rgba(28, 28, 28, 0.8);
  background-image: -webkit-linear-gradient(#454545, #383838);
  background-image: -moz-linear-gradient(#454545, #383838);
  background-image: -o-linear-gradient(#454545, #383838);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#383838');
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#383838')";
  /* IE8+ */

  background-image: linear-gradient(#454545, #383838);
}
.ie footer .meteor-tabs > ul.tabs-head li {
  border-radius: 0 !important;
}
.meteor-tabs > ul.tabs-head li i {
  display: inline-block;
  font-size: 1.2em;
  line-height: 1;
  margin-top: -0.2em;
}
.ie8 .meteor-tabs > ul.tabs-head li i {
  margin-right: 0.35em;
}
.meteor-tabs > ul.tabs-head li + li {
  margin-left: -1px;
}
.meteor-tabs > ul.tabs-head li:hover {
  cursor: pointer;
}
.meteor-tabs > ul.tabs-head li.active {
  position: relative;
  background: #ffffff;
  color: #292929;
  z-index: 2;
}
.ie .meteor-tabs > ul.tabs-head li.active {
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: -moz-linear-gradient(#ffffff, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff')";
  /* IE8+ */

  background-image: linear-gradient(#ffffff, #ffffff);
}
.ie .ie .meteor-tabs > ul.tabs-head li.active {
  border-radius: 0 !important;
}
footer .meteor-tabs > ul.tabs-head li.active {
  background: #454545;
  color: #bdbdbd;
}
.meteor-tabs > ul.tabs-head li.active:before {
  position: absolute;
  content: "\020";
  display: block;
  width: 100%;
  height: 3px;
  padding: 0 1px;
  top: -3px;
  left: -1px;
  background: #fb773d;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.meteor-tabs > .tab {
  position: relative;
  z-index: 1;
}
.meteor-tabs > .tab > h3.tab-title {
  margin-top: 26px;
}
.meteor-tabs > .tab > .tab-content {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: #4f4f4f;
  background: #ffffff;
  padding: 19px 18px 18px;
  border: solid 1px #dbdbdb;
}
footer .meteor-tabs > .tab > .tab-content {
  background: #454545;
  border-color: #515151;
  -webkit-box-shadow: 0 2px 5px rgba(28, 28, 28, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(28, 28, 28, 0.3);
  -o-box-shadow: 0 2px 5px rgba(28, 28, 28, 0.3);
  box-shadow: 0 2px 5px rgba(28, 28, 28, 0.3);
}
.meteor-tabs.ready > .tab {
  display: none;
}
.meteor-tabs.ready > .tab.active {
  display: block;
}
.meteor-tabs.ready > .tab h3.tab-title {
  display: none;
}
@media (min-width: 768px) and (max-width: 979px) {
  .meteor-tabs > ul.tabs-head li {
    padding: 13px 10px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .meteor-tabs > ul.tabs-head li {
    padding: 13px 12px;
  }
}
@media (max-width: 479px) {
  .meteor-tabs > ul.tabs-head li {
    padding: 12px 10px;
  }
}
