/* components/meteor-accordion.css */
.meteor-accordion.ready > .item > h3.title {
  padding: 0 0 0 34px;
}
.meteor-accordion > .item + .item {
  border-top: solid 1px #dbdbdb;
  margin-top: 1em;
  padding-top: 1em;
}
footer .meteor-accordion > .item + .item {
  border-top-color: #636363;
  border-top-style: dashed;
}
.meteor-accordion > .item > h3.title {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  position: relative;
  font-size: 105%;
  font-weight: 600;
  margin: 0;
}
footer .meteor-accordion > .item > h3.title {
  font-size: 95%;
  color: #bdbdbd;
}
.meteor-accordion > .item > h3.title:hover {
  cursor: pointer;
}
.meteor-accordion > .item > h3.title span.acc-box {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  top: 50%;
  margin-top: -10.5px;
}
.meteor-accordion > .item > h3.title span.acc-box:before {
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  display: block;
  content: "\f056";
  color: #292929;
  width: 19px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.meteor-accordion > .item > .acc-content {
  width: 100% !important;
  padding-top: 0.8em;
  color: #4f4f4f;
}
.meteor-accordion > .item.active > h3.title span.acc-box:before {
  content: "\f055";
  color: #fa5b15;
}
@media (max-width: 479px) {
  .meteor-accordion > .item > h3.title {
    font-size: 100%;
  }
}
