/* components/meteor-testimonial.css */
.meteor-testimonials {
  margin-bottom: 2em;
}
.meteor-testimonials ul > li {
  list-style: none;
}
.meteor-testimonials ul > li + li {
  margin-top: 26px;
}
.meteor-testimonials ul > li > blockquote {
  padding: 0;
  font-style: normal;
  border-left: none;
  background: none;
  text-shadow: none;
  position: relative;
  background: #eeeeee;
  color: #4f4f4f;
  padding: 10px;
  margin-bottom: 1.45em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.meteor-testimonials ul > li > blockquote:after {
  position: absolute;
  content: "\020";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #eeeeee;
  bottom: -8px;
  left: 20px;
}
.meteor-testimonials ul > li p.details {
  margin: 0;
}
.meteor-testimonials ul > li p.details strong,
.meteor-testimonials ul > li p.details strong a {
  color: #4f4f4f;
}
.meteor-testimonials ul > li p.details strong a {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
.meteor-testimonials ul > li p.details strong a:hover {
  color: #fa5b15;
  text-decoration: none;
}
.meteor-testimonials ul > li p.details span.title {
  color: #a2a2a2;
  margin-left: 1em;
}
.meteor-testimonials ul > li p.details span.nav {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  color: #4f4f4f;
  width: 20px;
  float: right;
  text-align: center;
}
.meteor-testimonials ul > li p.details span.nav:hover {
  cursor: pointer;
}
.meteor-testimonials ul > li p.details span.nav:hover:after {
  color: #fa5b15;
}
.meteor-testimonials ul > li p.details span.nav:after {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-family: "FontAwesome", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.meteor-testimonials ul > li p.details span.nav.prev:after {
  content: "\f0d9";
}
.meteor-testimonials ul > li p.details span.nav.next {
  margin-left: 0;
}
.meteor-testimonials ul > li p.details span.nav.next:after {
  content: "\f0da";
}
.meteor-testimonials.ready ul > li {
  display: none;
}
.meteor-testimonials.ready ul > li:first-child {
  display: block;
}
.meteor-testimonials.running ul li + li {
  margin-top: 0 !important;
}
