/* components/meteor-icon-posts.css */
a.read-more {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
a.read-more:hover {
  color: #292929 !important;
}
a.read-more:hover:after {
  left: 2px;
}
a.read-more:after {
  -webkit-transition: left 0.1s ease-in-out;
  -moz-transition: left 0.1s ease-in-out;
  -o-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
  position: relative;
  display: inline-block;
  font-family: "FontAwesome", sans-serif;
  content: "\f105";
  margin-left: 0.5em;
  line-height: 1;
  top: 1px;
}
.meteor-icon-posts.type-image .item > div.icn-image {
  position: absolute;
  top: 0;
}
.meteor-icon-posts.type-image .item > div.icn-image span.img-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}
.meteor-icon-posts.type-image .item > div.icn-image img {
  display: inline-block;
}
.meteor-icon-posts.type-image .item > div.icn-image[data-align="left"] {
  left: 0;
}
.meteor-icon-posts.type-image .item > div.icn-image[data-align="center"] {
  position: relative;
  margin-bottom: 1.1em;
}
.meteor-icon-posts.type-image .item > div.icn-image[data-align="right"] {
  right: 0;
}
.meteor-icon-posts.ready .item span.shape {
  color: #ffffff;
}
.meteor-icon-posts.ready .item span.shape.noshape {
  color: #292929 !important;
}
.ie8 .meteor-icon-posts.ready .item span.shape.noshape {
  background: none !important;
}
.ie8 .meteor-icon-posts.ready .item span.shape.noshape i {
  color: inherit !important;
}
.ie8 .meteor-icon-posts .item span.shape {
  color: #ffffff;
  background: #292929;
}
.meteor-icon-posts[data-align="center"] .item span.shape {
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.2em;
}
.meteor-icon-posts[data-align="left"] .item span.shape {
  left: 0;
}
.meteor-icon-posts[data-align="right"] .item span.shape {
  right: 0;
}
.meteor-icon-posts .item {
  position: relative;
  color: #4f4f4f;
  min-height: 34px;
}
.meteor-icon-posts .item a.circle-frame {
  position: relative;
  display: block;
  width: 105px;
  height: 105px;
  line-height: 105px;
  margin: 0 auto;
  margin-bottom: 26px;
  font-size: 40px;
  border: solid 7px #eeeeee;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
.meteor-icon-posts .item a.circle-frame:before,
.meteor-icon-posts .item a.circle-frame:after {
  position: absolute;
  display: block;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  content: "\020";
}
.meteor-icon-posts .item a.circle-frame:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 2px 0 #ffffff inset;
  -moz-box-shadow: 0 2px 0 #ffffff inset;
  -o-box-shadow: 0 2px 0 #ffffff inset;
  box-shadow: 0 2px 0 #ffffff inset;
  opacity: 0.5;
  z-index: 99;
}
.meteor-icon-posts .item a.circle-frame:after {
  width: 119px;
  height: 119px;
  top: -5px;
  left: -7px;
  z-index: -1;
  background: #292929;
  opacity: 0.15;
}
.meteor-icon-posts .item a.circle-frame i {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: block;
  width: 105px;
  height: 105px;
  background: #a2a2a2;
  line-height: 105px;
  color: #ffffff;
  text-shadow: 0 2px 1px rgba(41, 41, 41, 0.2);
  -webkit-border-radius: 105px;
  -moz-border-radius: 105px;
  -o-border-radius: 105px;
  border-radius: 105px;
  -webkit-box-shadow: 0 2px 20px rgba(41, 41, 41, 0.2) inset;
  -moz-box-shadow: 0 2px 20px rgba(41, 41, 41, 0.2) inset;
  -o-box-shadow: 0 2px 20px rgba(41, 41, 41, 0.2) inset;
  box-shadow: 0 2px 20px rgba(41, 41, 41, 0.2) inset;
}
.meteor-icon-posts .item a.circle-frame:hover i,
.meteor-icon-posts .item a.circle-frame.hover i {
  cursor: default;
  background: #fb7a42;
}
.meteor-icon-posts .item span.shape {
  position: absolute;
  display: block;
  top: 0;
  text-align: center;
  color: #292929;
}
.meteor-icon-posts .item span.shape i {
  position: relative;
  top: 1px;
}
.meteor-icon-posts .item span.circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  background: #292929;
}
.meteor-icon-posts .item span.hex canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #292929;
}
.meteor-icon-posts .item div.meta {
  margin-bottom: 0.8em;
}
.meteor-icon-posts .item div.meta h3.title {
  font-size: 120%;
  font-weight: 700;
  margin-bottom: 0;
}
.meteor-icon-posts .item div.meta h3.title a {
  color: #292929;
}
.meteor-icon-posts .item div.meta h3.title a:hover {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #fa5b15;
}
.meteor-icon-posts .item div.meta small.desc {
  margin-top: 0.5em;
}
.meteor-icon-posts .item a.read-more:after {
  font-size: 112%;
}
@media (max-width: 979px) {
  .meteor-icon-posts .item div.meta h3.title {
    font-size: 112%;
  }
  .meteor-icon-posts .item div.meta a.read-more {
    font-size: 90%;
  }
}
