
/* General */

html { overflow-y: scroll; }

* {
  outline: 0 !important;
}

.tp-button {
  font-weight: normal !important;
}

tr span.post-state-format {
  color: #aaa;
}

tr a.row-title i {
  color: #fa6726;
  font-size: 13px;
  font-weight: normal;
}

.notd {
  text-decoration: none;
}

a.remove-upload-link, a.add-upload-link {
  font-size: 80%;
}

a.remove-upload-link:hover, a.add-upload-link:hover {
  cursor: pointer;
}

/* Icon Chooser */

.ui-icon-chooser span.preview-icon {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 50px;
  height: 50px;
  line-height: 53px;
  text-align: center;
  font-size: 3em;
  background: white;
  color: #222;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.ui-icon-chooser span.preview-icon.visible {
  display: inline-block;
  margin-right: 10px;
}

input#chooser-search {
  position: absolute;
  width: 300px;
  left: 50%;
  bottom: 90.5%;
  margin-left: -150px;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.6);
}

.chooser-icon-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  z-index: 999999;
  background: rgba(0,0,0,0.48);
  box-shadow: 0 0 200px rgba(0,0,0,0.8) inset;
}

.chooser-icon-list span.close {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: fixed;
  display: block;
  color: white;
  top: 8%;
  right: 10%;
  font-size: 1.75em;
  text-shadow: 0 1px 2px rgba(0,0,0,1);
}

.chooser-icon-list span.close:hover {
  cursor: pointer;
}

.chooser-icon-list ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  width: 80%;
  height: 80%;
  padding: 20px;
  background: white;
  left: 10%; top: 10%;
  margin-right: 1px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.8);
  overflow: scroll;
}

.chooser-icon-list ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  list-style: none;
  width: 50%;
  padding: 10px;
  float: left;
  text-align: left;
  margin: 0;
  color: #222;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.chooser-icon-list ul li:hover {
  background: rgba(33, 117, 155, 0.08);
  cursor: pointer;
}

.chooser-icon-list.preview ul li:hover {
  cursor: text;
}

.chooser-icon-list.preview ul li span {
  -webkit-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

.chooser-icon-list ul li i {
  position: absolute;
  display: block;
  font-size: 1.2em;
  width: 20px;
  height: 20px;
  top: 50%;
  line-height: 20px;
  margin-top: -10px;
  text-align: center;
}

.chooser-icon-list ul li:hover i {
  font-size: 1.8em;
  -webkit-backface-visibility: hidden;
}

.chooser-icon-list ul li span {
  margin-left: 2.5em;
}

@media (min-width: 724px) and (max-width: 960px) {
  .chooser-icon-list ul li { width: 33.33333333333333%; }
}

@media (min-width: 961px) and (max-width: 1345px) {
  .chooser-icon-list ul li { width: 25%; }
}

@media (min-width: 1346px) and (max-width: 1625px) {
  .chooser-icon-list ul li { width: 20%; }
}

@media (min-width: 1626px) and (max-width: 2115px) {
  .chooser-icon-list ul li { width: 16.66666666666667%; }
}

@media (min-width: 2116px) {
  .chooser-icon-list ul li { width: 14.28571428571429%; }
}

/* List Table Icon */

.list-table-icon {
  color: #323232;
  font-size: 2.1em;
  text-shadow: 0 0 1px white;
}

/* Gallery Interface */

.gallery-interface { 
  margin: 1em 0 2em; padding: 15px; 
  border: solid 1px #ccc;
  background: #f9f9f9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.1) inset;
}

.gallery-interface .edit-image p {
  margin: 1.4em 0;
}

.gallery-interface a.upload-image-link {
  display: inline-block;
  margin: 0.8em 0 0.8em;
}

.gallery-interface .buttons {
  margin: 1.4em 0 0;
}

.gallery-interface .btn { float: left; opacity: 1 !important; }

.gallery-interface .btn.add-image { float: left; }

.gallery-interface .buttons .btn.exec { margin-right: 10px !important; }

.gallery-interface strong {
  display: inline-block;
  margin-bottom: 0.3em;
}

.gallery-interface ul.thumbs { margin: 1.6em 0 0 0; padding: 1.6em 0 0 0; border-top: solid 1px #ccc; }
.gallery-interface ul.thumbs li { position: relative; margin: 0 1em 1em 0; padding: 0; list-style: none; display: block; float: left; }

.gallery-interface ul.thumbs li.ui-sortable-helper {
  -webkit-transform:rotate(8deg);
  -moz-transform:rotate(8deg);
  -o-transform:rotate(8deg);
  -webkit-transform:rotate(8deg);
  -ms-transform:rotate(8deg);
}

.gallery-interface ul.thumbs li.ui-sortable-helper a {
  -webkit-box-shadow: 0 2px 18px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 2px 18px rgba(0,0,0,0.3);
  box-shadow: 0 2px 18px rgba(0,0,0,0.3);
}

.gallery-interface ul.thumbs li.ui-sortable-placeholder {
  visibility: visible !important; background: rgba(0,0,0,0.05); border: dashed 1px #ccc; height: 136px; width: 136px;
}

.gallery-interface ul.thumbs li a {
  position: relative;
  display: inline-block; 
  padding: 4px; 
  background: white; 
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.3);
  box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

.gallery-interface ul.thumbs li a:before {
  position: absolute;
  display: block;
  content: "\020";
  width: 100%;
  height: 100%;
  top: 0; left: 0;
}

.gallery-interface ul.thumbs li a:hover { 
  cursor: pointer;
}

.gallery-interface ul.thumbs li:hover span.delete { display: block; }

.gallery-interface ul.thumbs li span.delete {
  display: block; position: absolute; width: 13px; height: 13px; top: 4px; left: 4px; background: #f74201; color: white;
  line-height: 13px; text-align: center; display: none;
}

.gallery-interface ul.thumbs li span.delete:hover {
  cursor: pointer;
}

.gallery-interface ul.thumbs li a img { display: block; }

/* Widget Inside */

.widget-inside .option + .option { margin-top: 2em; }

.widget-inside .option label { display: inline-block; font-weight: bold; margin-bottom: 0.3em; }

.widget-inside .option.checkbox-option > p { margin: 0.5em 0 0.2em !important; }

.widget-inside .option.checkbox-option > p br { line-height: 1.9em; }

.widget-inside .option.checkbox-option p label { font-weight: normal; margin-left: 3px; }

.widget-inside .option input[type=text],
.widget-inside .option select,
.widget-inside .option textarea { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  width: 100%;
}

.metabox-entry .gallery-interface input[type=text],
.metabox-entry .gallery-interface select,
.metabox-entry .gallery-interface textarea {
  width: 98% !important;
}

.widget-inside .option p {
  margin-bottom: 0.1em !important;
}

/* Social Media Manager */

#layout-metabox.postbox select { width: 100%; }

#wpbody table.wp-list-table.widefat tr.hentry td {
  padding-top: 5px;
}

#social-manager { width: 780px; }
#social-form {
	margin-top: 0.5em; 
	padding: 20px 0;
}

#item-entry-template {
  display: none;
}

#social-form .item-entry { 
  position: relative; min-height: 20px;
  padding: 10px 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#social-form .item-entry:hover {
  background: #fafafa;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}

#social-form .item-entry a.remove {
  position: absolute; right: 5px;
}

#social-form .item-entry + .item-entry {
  margin-top: 0.5em;
}

#social-form .item-entry i.icon {
  display: block; overflow: hidden; margin-right: 10px;
  position: absolute; top: 10px;
}

#social-form .item-entry i.icon + input[type=text] { margin-top: -1px; }

#social-form .item-entry input[type=text] { 
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#social-form .item-entry select { width: 70%; }

#social-form .item-entry label { display: block; }

#social-form .item-entry label:hover { cursor: default; }

#social-form .item-entry label + label { margin-top: 0.5em; }

#social-form .button-box {
  margin-top: 2em; display: none;
}

/* Lightbox */

div.pp_overlay { background: white !important; }

div.pp_default .pp_description { line-height: 28px !important; }

/* Metabox Styles */

.postbox .metabox-entry { margin: 1em 0 }

.postbox .metabox-entry { padding-bottom: 0.3em }

.postbox .metabox-entry:first-child { padding-top: 0.3em }

.postbox .metabox-entry + .metabox-entry { padding-top: 0.5em }

.postbox .metabox-entry span.desc { color: #999; font-size: 12px; }

.postbox .metabox-entry label.nohover:hover { cursor: default }

.postbox .metabox-entry label { font-weight: bold }

.postbox .metabox-entry label + input[type=text],
.postbox .metabox-entry label + textarea,
.postbox .metabox-entry label + select {
  display: block;
  width: 98%;
  margin: 0.5em 0;
}

.postbox .metabox-entry label + select { width: auto }

.postbox .metabox-entry.mb-radio-check p label { font-weight: normal }

.postbox .metabox-entry.mb-radio-check p label span { padding-left: 0.5em }

.postbox .metabox-entry.mb-radio-check p { margin: 0.7em 0 }

.postbox .metabox-entry.mb-radio-check p + p { margin-top: -0.1em }

.postbox .metabox-entry.mb-radio-check span.desc { display: block }

.postbox .metabox-entry.mb-radio-check.mb-inline > label { display: block }

.postbox .metabox-entry.mb-radio-check.mb-inline p {
  display: inline-block;
  margin-right: 1.2em;
}

/* PO Editor Styles */

.poedit #template { margin-right: 180px }

.poedit #templateside form select { max-width: 100% }

#template textarea { padding: 10px 15px }

/* Layout */

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.clearfix { display: block }
