@import url("slider.cuteslider.css");

@import url("slider.layerslider.css");
@import url("mx-common.css");
@import url("umacure.css");
/* meteor.custom.css */
.icon-spin {
  display: inline-block !important;
  -moz-animation: spin 2s infinite linear !important;
  -o-animation: spin 2s infinite linear !important;
  -webkit-animation: spin 2s infinite linear !important;
  animation: spin 2s infinite linear !important;
}
.pp_overlay {
  position: fixed !important;
  background: white !important;
}
div.pp_default {
  z-index: 9999;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.95);
}
div.pp_default .ppt {
  display: none !important;
}
div.pp_default .pp_nav .currentTextHolder {
  font-family: "PT Sans";
  font-style: normal;
}
div.pp_default .pp_content_container .pp_left,
div.pp_default .pp_content_container .pp_right {
  background: transparent;
}
div.pp_default .pp_top .pp_middle,
div.pp_default .pp_bottom .pp_middle {
  background: transparent;
}
div.pp_default .pp_top .pp_left,
div.pp_default .pp_bottom .pp_left,
div.pp_default .pp_top .pp_right,
div.pp_default .pp_bottom .pp_right {
  background: transparent;
}
div.pp_default .pp_content {
  background: transparent;
  margin-left: 3px;
}
div.pp_default .pp_bottom {
  visibility: hidden;
}
div.pp_default.pp_pic_holder {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  z-index: 9999;
}
div.pp_default .pp_details {
  padding-top: 4px;
  background: transparent;
}
div.pp_default a.pp_close {
  margin-top: 6px;
}
div.pp_default #pp_full_res {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #ffffff inset;
  -moz-box-shadow: 0 0 5px #ffffff inset;
  -o-box-shadow: 0 0 5px #ffffff inset;
  box-shadow: 0 0 5px #ffffff inset;
  overflow: hidden !important;
}
/* Revolution Slider */
.tp-button {
  font-weight: normal !important;
}
