/* post-content.css */
.post-content {
  color: #4f4f4f;
  line-height: 1.5em;
}
.post-content {
  *zoom: 1;
}
.post-content:before,
.post-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.post-content:after {
  clear: both;
}
.post-content > *:first-child,
.post-content > .inner-content > *:first-child {
  margin-top: 0 !important;
}
.post-content > *:last-child,
.post-content > .inner-content > *:last-child {
  margin-bottom: 0 !important;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-family: "Raleway";
  margin: 32px 0 0.5em;
  color: #292929;
}
.post-content h1,
.post-content h2 {
  font-weight: 500;
  font-size: 150%;
}
.post-content h3,
.post-content h4 {
  font-weight: 700;
  font-size: 110%;
}
.post-content h5,
.post-content h6 {
  font-weight: 700;
  font-size: 110%;
}
.post-content pre,
.post-content code {
  background: #f4f4f4 !important;
  word-wrap: break-word;
}
.post-content pre {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.1em 1em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.post-content pre.prettyprint {
  width: 100% !important;
  border: none !important;
}
.post-content a:hover {
  text-decoration: underline;
}
.post-content strong {
  color: #292929;
}
footer .post-content {
  color: #818181 !important;
}
footer .post-content a {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
