/* responsive.css */
@media (min-width: 1200px) {
  body[data-widescreen=true] .video-wrapper iframe {
    max-height: 700px;
  }
  body[data-widescreen=true] .visible-desktop-widescreen {
    display: inherit !important;
  }
  body[data-widescreen=true] .hidden-desktop-widescreen {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .container-full > .meteor-slider .meta-wrapper .meta aside a {
    padding: 15px 10px;
  }
  .container-full > .meteor-slider .meta-wrapper .meta aside a h3 {
    font-size: 120%;
  }
  .container-full > .meteor-slider .meta-wrapper .meta aside a small {
    font-size: 90%;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  section.block > .row > [class*=span] + [class*=span] {
    margin-top: 44px;
  }
  .row + .row,
  .row > .item + .item {
    margin-top: 26px;
  }
  .row-fluid > * + * {
    margin-top: 26px;
  }
  header[role="banner"] #topbar .noshow {
    display: none;
  }
  header[role="banner"] #topbar .container > aside {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  header[role="banner"] #topbar .container > aside[data-align="right"] {
    padding-left: 40px;
  }
  header[role="banner"] #topbar .container > aside[data-align="left"] {
    padding-right: 40px;
  }
  .video-wrapper iframe {
    max-height: 235px;
  }
  .sidebar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #nav-container[data-align="center"] {
    display: none;
  }
  header #logo {
    float: none !important;
    text-align: center;
  }
  section.block > .row > [class*="span"][style] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 440px !important;
  }
  .visible-phone-portrait {
    display: none !important;
  }
  .visible-phone-landscape {
    display: inherit !important;
  }
  .hidden-phone-landscape {
    display: none !important;
  }
  .mobile-split > .row,
  .mobile-landscape-split > .row {
    margin: 0 -10px;
  }
  .mobile-split > .row > .item,
  .mobile-landscape-split > .row > .item {
    display: block;
    width: 228px;
    padding: 0 10px;
    margin-top: 0;
    float: left;
  }
  .mobile-split > .row > .item.nth-child-even + .item,
  .mobile-landscape-split > .row > .item.nth-child-even + .item,
  .mobile-split > .row > .item.nth-child-even + .item + .item,
  .mobile-landscape-split > .row > .item.nth-child-even + .item + .item {
    margin-top: 26px;
  }
  .mobile-split > .row > .item.nth-child-even + .item,
  .mobile-landscape-split > .row > .item.nth-child-even + .item {
    clear: both;
  }
}
@media (max-width: 479px) {
  .container {
    width: 300px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .visible-phone-portrait {
    display: inherit !important;
  }
  .visible-phone-landscape {
    display: none !important;
  }
  .hidden-phone-portrait {
    display: none !important;
  }
  .mobile-split > .row {
    margin: 0 -10px;
  }
  .mobile-split > .row > .item {
    display: block;
    width: 158px;
    padding: 0 10px;
    margin-top: 0;
    float: left;
  }
  .mobile-split > .row > .item.nth-child-even + .item,
  .mobile-split > .row > .item.nth-child-even + .item + .item {
    margin-top: 26px;
  }
  .mobile-split > .row > .item.nth-child-even + .item {
    clear: both;
  }
  .mobile-landscape-split > .row > .item + .item {
    margin-top: 26px;
  }
}
