/* retina.css */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .retina-hide {
    display: none !important;
  }
  .retina-show {
    display: block !important;
  }
  .retina-show-inline {
    display: inline !important;
  }
  .retina-show-inline-block {
    display: inline-block !important;
  }
}
