/* slider.cuteslider.css */
.cute-slider .br-slideinfo .bottom div {
  padding: 13px 23px !important;
}
.cute-slider .br-slideinfo .title {
  margin: 0 !important;
}
.cute-slider .br-slideinfo .title + .text {
  margin-top: 8px !important;
}
.cute-slider .br-slideinfo .text {
  font-size: 100% !important;
  margin: 0 !important;
}
.cs-default {
  padding-top: 20px;
}
.cs-borderlesslight .br-slideinfo .br-infocontent *,
.cs-default .br-slideinfo .br-infocontent * {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
@media (min-width: 480px) and (max-width: 767px) {
  .cute-slider .br-slideinfo .bottom div {
    padding: 12px !important;
  }
}
@media (max-width: 479px) {
  .cute-slider .br-slideinfo {
    display: none !important;
  }
}
