/* widgets.css */
.widget {
  /* Nav Menu Widget */

  /* Popular / Recent / Comments */

  /* Recent Posts */

  /* Twitter Feed */

  /* Posts Scroller */

  /* Search */

  /* Link List, Recent Posts, Recent Comments, etc. */

  /* Tag Cloud */

}
.widget.widget_nav_menu ul.menu li.current-menu-item a,
.widget.widget_nav_menu ul.menu li.current_page_item a {
  color: #fa5b15 !important;
}
footer .widget.widget_nav_menu ul.menu li.current-menu-item a,
footer .widget.widget_nav_menu ul.menu li.current_page_item a {
  color: #bdbdbd !important;
}
.widget.widget_meteor_blog_activity .meteor-tabs ul.tabs-head > li {
  padding-left: 1.15em;
  padding-right: 1.15em;
}
.widget.widget_meteor_blog_activity .meteor-tabs .tab-comments ul.meteor-mini-posts li + li {
  padding-top: 1em;
  border-top: dashed 1px #d5d5d5;
}
.widget.widget_meteor_blog_activity .meteor-tabs ul.tabs-head li {
  min-width: 20px;
  height: auto;
}
.widget.widget_meteor_blog_activity .meteor-tabs ul.tabs-head li i[class^=icon-] {
  line-height: 1;
  font-size: 15px;
}
.widget.widget_meteor_blog_activity .meteor-tabs ul.tabs-head li i[class^=icon-].abs {
  position: absolute;
  margin-left: 2px;
}
footer .widget.widget_meteor_blog_activity .meteor-tabs ul.tabs-head li > * {
  display: none !important;
}
footer .widget.widget_meteor_blog_activity .meteor-tabs ul.tabs-head li > *.visible-tablet {
  display: block !important;
}
.widget.widget_recent_entries ul > li > span {
  font-size: 85%;
  margin-left: 0.5em;
}
.widget.widget_recent_entries ul > li > span:before {
  display: inline-block;
}
.sidebar .widget.widget_meteor_twitter_feed .post-content {
  color: #636363;
}
footer .widget.widget_meteor_twitter_feed .post-content {
  color: inherit;
}
.widget.widget_meteor_twitter_feed .post-content ul li {
  list-style: none;
  margin: 0;
}
.widget.widget_meteor_twitter_feed .post-content ul li + li {
  margin-top: 1em;
}
.widget.widget_meteor_twitter_feed .post-content ul li p.tweet {
  margin: 0;
}
footer .widget.widget_meteor_twitter_feed .post-content ul li p.tweet a {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.widget.widget_meteor_twitter_feed .post-content ul li p.tweet a:hover {
  text-decoration: underline;
}
.widget.widget_meteor_twitter_feed .post-content ul li p.tweet a.user {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: bold;
}
.sidebar .widget.widget_meteor_twitter_feed .post-content ul li p.tweet a.user {
  color: inherit;
}
.widget.widget_meteor_twitter_feed .post-content ul li p.tweet a.user:hover {
  text-decoration: none;
}
.sidebar .widget.widget_meteor_twitter_feed .post-content ul li p.tweet a.user:hover {
  color: #fb773d;
}
.widget.widget_meteor_twitter_feed .post-content ul li span.time {
  display: block;
  margin-top: 0.4em;
}
.widget.widget_meteor_twitter_feed .post-content ul li span.time a {
  font-size: 90%;
}
.widget.widget_meteor_twitter_feed .post-content ul li span.time a:hover {
  text-decoration: underline;
}
.sidebar .widget.widget_meteor_twitter_feed .post-content ul li span.time a {
  color: #bcbcbc;
}
.sidebar .widget.widget_meteor_twitter_feed .post-content ul li span.time a:hover {
  color: #fb7a42;
}
footer .widget.widget_meteor_twitter_feed .post-content ul li span.time a {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  color: #a2a2a2;
}
.widget.widget_meteor_twitter_feed p.button-container {
  margin: 1.5em 0 0 0;
}
.widget.widget_search form p {
  position: relative;
  margin: 0;
}
.widget.widget_search form p:before {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  content: "\f002";
  width: 32px;
  color: #dbdbdb;
  height: 100%;
  font-size: 13px;
  line-height: 2.4;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-font-smoothing: antialiased;
}
footer .widget.widget_search form p:before {
  color: #a2a2a2;
  text-shadow: 0 1px 0 rgba(41, 41, 41, 0.5);
  opacity: 0.4;
}
.widget.widget_search form p input[type=text] {
  padding-left: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.widget > h3.title:first-child + ul:last-child > li,
.widget > h3.title:first-child + ul.last-child > li,
.widget.widget_nav_menu ul.menu > li {
  position: relative;
  list-style-type: none;
  padding-left: 1em;
}
.widget > h3.title:first-child + ul:last-child > li:before,
.widget > h3.title:first-child + ul.last-child > li:before,
.widget.widget_nav_menu ul.menu > li:before {
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  content: "\f105";
  font-size: 12px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  opacity: 0.9;
  z-index: -1;
}
.sidebar .widget > h3.title:first-child + ul:last-child > li:before,
.sidebar .widget > h3.title:first-child + ul.last-child > li:before,
.sidebar .widget.widget_nav_menu ul.menu > li:before {
  color: #fa5b15;
}
footer .widget > h3.title:first-child + ul:last-child > li:before,
footer .widget > h3.title:first-child + ul.last-child > li:before,
footer .widget.widget_nav_menu ul.menu > li:before {
  color: #fb773d;
}
footer .widget > h3.title:first-child + ul:last-child > li + li,
footer .widget > h3.title:first-child + ul.last-child > li + li,
footer .widget.widget_nav_menu ul.menu > li + li {
  margin-top: 0.6em;
}
.sidebar .widget > h3.title:first-child + ul:last-child > li,
.sidebar .widget > h3.title:first-child + ul.last-child > li,
.sidebar .widget.widget_nav_menu ul.menu > li {
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  color: #acacac;
}
.sidebar .widget > h3.title:first-child + ul:last-child > li:first-child,
.sidebar .widget > h3.title:first-child + ul.last-child > li:first-child,
.sidebar .widget.widget_nav_menu ul.menu > li:first-child {
  margin-top: -0.55em;
}
.sidebar .widget > h3.title:first-child + ul:last-child > li:last-child,
.sidebar .widget > h3.title:first-child + ul.last-child > li:last-child,
.sidebar .widget.widget_nav_menu ul.menu > li:last-child {
  margin-bottom: -0.55em;
}
.sidebar .widget > h3.title:first-child + ul:last-child > li + li,
.sidebar .widget > h3.title:first-child + ul.last-child > li + li,
.sidebar .widget.widget_nav_menu ul.menu > li + li {
  border-top: dashed 1px #e9e9e9;
}
.sidebar .widget > h3.title:first-child + ul:last-child > li a,
.sidebar .widget > h3.title:first-child + ul.last-child > li a,
.sidebar .widget.widget_nav_menu ul.menu > li a {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #636363;
}
.sidebar .widget > h3.title:first-child + ul:last-child > li a:hover,
.sidebar .widget > h3.title:first-child + ul.last-child > li a:hover,
.sidebar .widget.widget_nav_menu ul.menu > li a:hover {
  color: #fb773d;
}
.widget ul.link_list > li {
  position: relative;
  list-style-type: none;
  padding-left: 1em;
}
.widget ul.link_list > li:before {
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  content: "\f105";
  font-size: 12px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  opacity: 0.9;
  z-index: -1;
}
.sidebar .widget ul.link_list > li:before {
  color: #fa5b15;
}
footer .widget ul.link_list > li:before {
  color: #fb773d;
}
footer .widget ul.link_list > li + li {
  margin-top: 0.6em;
}
.sidebar .widget ul.link_list > li {
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  color: #acacac;
}
.sidebar .widget ul.link_list > li:first-child {
  margin-top: -0.55em;
}
.sidebar .widget ul.link_list > li:last-child {
  margin-bottom: -0.55em;
}
.sidebar .widget ul.link_list > li + li {
  border-top: dashed 1px #e9e9e9;
}
.sidebar .widget ul.link_list > li a {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #636363;
}
.sidebar .widget ul.link_list > li a:hover {
  color: #fb773d;
}
.widget.widget_tag_cloud .tagcloud {
  margin: -6px 0 0 -13px;
}
.widget.widget_tag_cloud .tagcloud {
  *zoom: 1;
}
.widget.widget_tag_cloud .tagcloud:before,
.widget.widget_tag_cloud .tagcloud:after {
  display: table;
  content: "";
  line-height: 0;
}
.widget.widget_tag_cloud .tagcloud:after {
  clear: both;
}
.widget.widget_tag_cloud .tagcloud > a {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-size: 100% !important;
  display: block;
  float: left;
  margin: 6px 0 0 13px;
  padding: 4px 10px;
  border-bottom: solid 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.sidebar .widget.widget_tag_cloud .tagcloud > a {
  color: #6d6d6d;
  background: #f4f4f4;
  border-bottom-color: #dbdbdb;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.sidebar .widget.widget_tag_cloud .tagcloud > a:hover {
  color: #686868;
  background: #ececec;
  border-bottom-color: #c7c7c7;
}
footer .widget.widget_tag_cloud .tagcloud > a {
  text-shadow: 0 1px 1px rgba(28, 28, 28, 0.8);
  color: #bababa;
  border-bottom-color: rgba(28, 28, 28, 0.8);
  border-bottom-color: rgba(28, 28, 28, 0.6);
  background-color: rgba(51, 51, 51, 0.8);
  -webkit-box-shadow: 0 -1px 0 rgba(189, 189, 189, 0.06) inset;
  -moz-box-shadow: 0 -1px 0 rgba(189, 189, 189, 0.06) inset;
  -o-box-shadow: 0 -1px 0 rgba(189, 189, 189, 0.06) inset;
  box-shadow: 0 -1px 0 rgba(189, 189, 189, 0.06) inset;
}
footer .widget.widget_tag_cloud .tagcloud > a:hover {
  color: #c5c5c5;
  -webkit-box-shadow: 0 -1px 0 rgba(189, 189, 189, 0.06) inset;
  -moz-box-shadow: 0 -1px 0 rgba(189, 189, 189, 0.06) inset;
  -o-box-shadow: 0 -1px 0 rgba(189, 189, 189, 0.06) inset;
  box-shadow: 0 -1px 0 rgba(189, 189, 189, 0.06) inset;
  background-color: rgba(28, 28, 28, 0.8);
  background-color: rgba(28, 28, 28, 0.58);
}
