/* wp-core.css */
.alignnone {
  float: none;
}
.aligncenter {
  margin: 0 auto 1em;
}
.alignright {
  float: right;
  margin-left: 24px !important;
}
.alignleft {
  float: left;
  margin-right: 24px !important;
}
a img.alignright {
  float: right;
}
a img.alignnone {
  float: none;
}
a img.alignleft {
  float: left;
}
.wp-caption {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.4em 0 1.2em;
  max-width: 100%;
}
.ie8 .wp-caption > a {
  max-width: 100%;
}
.wp-caption.aligncenter {
  text-align: center;
  margin: 1.7999999999999998em auto 1.4em;
}
.wp-caption.aligncenter p.wp-caption-text,
.wp-caption.aligncenter dd.wp-caption-dd {
  text-align: center !important;
}
.wp-caption.alignnone {
  float: none;
}
.wp-caption.alignleft {
  margin: 0.2em 24px 1em 0;
}
.wp-captionalignright {
  margin: 0.2em 0 1em 24px;
}
.wp-caption p.wp-caption-text,
.wp-caption dd.wp-caption-dd {
  color: #a2a2a2;
  font-style: italic;
  margin: 0.6em 0 0 0;
  font-size: 90%;
  line-height: 1.4em;
}
.gallery-caption,
.bypostauthor {
  outline: none;
}
.wp-link-pages {
  margin-top: 2.5em;
}
.wp-link-pages > * + * {
  margin-left: 0.5em;
}
