/* layout/boxed.css */
#boxed-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin: 50px auto;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: solid 1px rgba(0, 0, 0, 0.105);
  background: #ffffff;
}
#boxed-wrapper header[role=banner] {
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  -o-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
}
#boxed-wrapper footer[role=contentinfo],
#boxed-wrapper footer[role=contentinfo] .bottom-bar {
  -webkit-border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -o-border-radius: 0 0 0px 0px;
  border-radius: 0 0 0px 0px;
}
@media (min-width: 1200px) {
  body[data-widescreen=true] #boxed-wrapper {
    width: 1220px;
  }
  body[data-widescreen=false] #boxed-wrapper {
    width: 1000px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  #boxed-wrapper {
    width: 1000px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #boxed-wrapper {
    width: 788px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #boxed-wrapper {
    width: 500px;
  }
}
@media (max-width: 479px) {
  #boxed-wrapper {
    width: 360px;
  }
}
