/* layout/comments.css */
.meteor-comments {
  margin-top: 3em !important;
}
.meteor-comments p.logged-in-as {
  color: #636363;
  margin-bottom: 1.8em;
}
.meteor-comments ol.commentlist {
  margin: 0;
  padding: 0;
}
.meteor-comments ol.commentlist li.comment {
  position: relative;
  list-style: none;
  min-height: 52px;
  padding-left: 72px;
}
.meteor-comments ol.commentlist li.comment + li.comment {
  margin-top: 0.5em;
}
.meteor-comments ol.commentlist li.comment article.comment:hover span.edit-link a {
  visibility: visible !important;
}
.meteor-comments ol.commentlist li.comment em.comment-awaiting-moderation {
  display: block;
  opacity: 0.8;
  color: #a2a2a2;
  margin-bottom: 0.3em;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author {
  color: transparent;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author img.avatar {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn,
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn a {
  font-family: "Raleway";
  color: #292929;
  font-size: 105%;
  font-weight: 600;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn {
  display: block;
  margin-bottom: 0.5em;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn .meta-tag {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  font-family: "PT Sans";
  font-size: 85%;
  font-weight: normal;
  text-align: center;
  margin-left: 1.25em;
  padding: 2px 6px;
  border-bottom: solid 1px rgba(162, 162, 162, 0.55);
  color: #686868;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  background: #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn .meta-tag:hover {
  cursor: default;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn a {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn a:hover {
  color: #fa5b15;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn + a {
  float: left;
  color: #b4b4b4;
  font-size: 90%;
}
.ie8 .meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn + a {
  margin-right: 1em;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn + a:hover {
  text-decoration: underline;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.says {
  display: none;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.edit-link a {
  visibility: hidden;
  color: #4f4f4f;
  font-size: 90%;
  opacity: 1;
  top: 0.40em;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.edit-link a:hover {
  opacity: 1;
  text-decoration: underline;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.edit-link a:after {
  font-family: "FontAwesome", sans-serif;
  content: "\f061";
  font-size: 9px;
  margin-left: 0.5em;
  -webkit-font-smoothing: antialiased;
}
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.edit-link a:hover {
  text-decoration: none;
  color: #fa5b15;
}
.meteor-comments ol.commentlist li.comment div.comment-content {
  margin-top: 0.6em;
  color: #4f4f4f;
}
.meteor-comments ol.commentlist li.comment div.reply {
  margin: 1.1em 0 0;
  text-align: right;
  border-top: dashed 1px #e3e3e3;
}
.meteor-comments ol.commentlist li.comment div.reply a.comment-reply-link {
  position: relative;
  color: #fb7a42;
  font-size: 90%;
  opacity: 0.8;
  top: 0.40em;
}
.meteor-comments ol.commentlist li.comment div.reply a.comment-reply-link:hover {
  opacity: 1;
  text-decoration: underline;
}
.meteor-comments ol.commentlist li.comment ul.children {
  padding-left: 10;
  margin-top: 0.5em;
}
.meteor-comments ol.commentlist li.comment #respond {
  padding-top: 5px;
  padding-bottom: 2.3em;
  border-bottom: dashed 1px #e3e3e3;
  margin-bottom: 2em;
}
.meteor-comments ol.commentlist li.comment #respond.no-bottom-sep {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.meteor-comments ol.commentlist li.comment #respond p.logged-in-as {
  margin-top: 4px;
}
.meteor-comments ol.commentlist li.comment #respond span.respond-close {
  display: block;
}
.meteor-comments ol.commentlist li.comment #respond form.meteor-form {
  padding-top: 10px;
  margin-top: 0 !important;
}
.meteor-comments ol.commentlist li.comment #respond h3#reply-title {
  display: none;
}
.meteor-comments ol.commentlist li.comment #respond span.cancel-reply-link {
  display: none !important;
}
.meteor-comments ol.commentlist li.comment #respond span.cancel-reply-link a#cancel-comment-reply-link {
  color: #fb7a42;
  font-size: 90%;
  opacity: 0.8;
  top: 0.40em;
}
.meteor-comments ol.commentlist li.comment #respond span.cancel-reply-link a#cancel-comment-reply-link:hover {
  opacity: 1;
  text-decoration: underline;
}
.meteor-comments #respond {
  position: relative;
}
.meteor-comments #respond span.respond-close {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  display: none;
  top: -10px;
  right: 0;
}
.meteor-comments #respond span.respond-close a {
  position: relative;
  padding: 5px;
  right: -5px;
  font-size: 18px;
  color: #fb773d;
}
.meteor-comments #respond span.respond-close a:hover {
  cursor: pointer;
}
@media (max-width: 979px) {
  .meteor-comments ol.commentlist li.comment {
    padding-left: 48px;
  }
  .meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author img.avatar {
    max-width: 38px;
    max-height: 38px;
  }
  .meteor-comments ol.commentlist li.comment ul.children {
    margin-left: -31px;
  }
}
@media (max-width: 479px) {
  .meteor-comments ol.commentlist li.comment ul.children {
    margin-left: -48px;
  }
}
