/* layout/meteor-form.css */
.meteor-form > .entry {
  position: relative;
  margin: 1.6em 0 0 0;
}
.meteor-form > .entry.submit .meteor-notification {
  margin-bottom: 1.6em;
}
.meteor-form > .entry.radio,
.meteor-form > .entry.checkbox {
  margin-top: 1.1em;
}
.meteor-form > .entry.radio label,
.meteor-form > .entry.checkbox label {
  margin-top: 0.5em;
}
.meteor-form > .entry label {
  margin-right: 1em;
  font-weight: normal;
  font-size: 100%;
}
.meteor-form > .entry label input {
  margin-right: 0.5em;
}
.meteor-form > .entry input[type="radio"],
.meteor-form > .entry input[type="checkbox"] {
  position: relative;
  top: -1px;
}
.meteor-form > .entry input[type="submit"] + .meteor-button i {
  font-size: 1.3em;
}
.meteor-form > .entry span.invalid {
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  display: none;
  opacity: 0;
}
.meteor-form > .entry textarea.invalid {
  padding-right: 31px;
}
.meteor-form > .entry .invalid {
  padding-right: 28px;
}
.meteor-form > .entry .invalid + span.invalid {
  display: inline-block;
  position: absolute;
  font-size: 15px;
  color: #fa5b15;
  margin-top: 0.48em;
  opacity: 0.5;
  margin-left: -1.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.meteor-form label {
  display: inline-block;
  white-space: nowrap;
  line-height: inherit;
}
.meteor-form label:first-child {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  font-weight: bold;
  color: #292929;
  font-size: 112%;
  margin-bottom: 0.5em;
}
.meteor-form label:first-child.required:after {
  font-family: "FontAwesome", sans-serif;
  position: relative;
  content: "\f069";
  color: #fa5b15;
  margin-left: 0.8em;
  font-size: 9px;
  font-weight: 300;
  top: -4px;
  -webkit-font-smoothing: antialiased;
}
.meteor-form input[type=text],
.meteor-form input[type=email],
.meteor-form input[type=password],
.meteor-form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
