/* layout/post-type-default.css */
div.attachment-info div.desc {
  font-size: 100%;
  display: block;
  margin-top: 1.2em;
  font-style: italic;
}
div.attachment-info + .attachment-content {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: dashed 1px #dbdbdb;
}
div.post-listing > h2.title-heading:first-child + * {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
div.post-listing > * + * {
  margin-top: 32px;
  padding-top: 32px;
  border-top: solid 1px #eeeeee;
}
div.meteor-post.single-post > * + .post-content {
  margin-top: 2.1em;
}
div.meteor-post > * + *,
div.meteor-post > .post-details > * + * {
  margin-top: 1.2em;
}
div.meteor-post.nodetails > .meteor-quote + .post-edit-link-container {
  margin-top: 1.8em;
}
div.meteor-post.nodetails > .meteor-quote + .post-edit-link-container + ul.meteor-info {
  margin-top: 1em;
}
div.meteor-post > .post-img {
  position: relative;
}
div.meteor-post > .post-img + .post-details {
  margin-top: 22px;
}
div.meteor-post > .post-img i.post-icon {
  bottom: 0;
  z-index: 3;
}
div.meteor-post > .post-details {
  position: relative;
  padding-left: 50px;
  min-height: 50px;
}
div.meteor-post > .post-details > i.post-icon {
  top: 0;
  left: 0;
}
div.meteor-post > .post-details > .post-meta {
  margin-bottom: 1.2em;
}
div.meteor-post > .post-details > .post-meta h3.post-title {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 135%;
  margin: 0 0 0 0;
  padding-top: 0.15em;
}
div.meteor-post > .post-details > .post-meta h3.post-title a {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #4f4f4f;
}
div.meteor-post > .post-details > .post-meta h3.post-title a:hover {
  color: #fa5b15;
}
div.meteor-post > .post-details > .post-meta ul.meteor-info {
  margin-top: 0.6em;
}
div.meteor-post > .post-details > .more-link-container a.post-edit-link {
  margin-right: 0.8em;
}
div.meteor-post > .post-details > .more-link-container a.read-more:hover {
  color: #292929;
}
div.meteor-post i.post-icon {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: #fb773d;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  -webkit-backface-visibility: hidden;
}
div.meteor-post.format-image aside.post-details i.post-icon {
  font-size: 120%;
}
div.meteor-post > .meteor-quote {
  padding-left: 65px;
  margin-bottom: 1em;
}
div.meteor-post > .meteor-quote:before {
  font-size: 115%;
}
div.meteor-post > .meteor-quote + ul.meteor-info {
  margin-bottom: -0.8em;
}
div.meteor-post > .meteor-quote blockquote {
  font-size: 100%;
  line-height: 1.6em;
}
div.meteor-post.format-link > .meteor-quote:before {
  content: "\f0c1";
  font-size: 130%;
}
div.meteor-post.format-link > .meteor-quote blockquote a {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  display: inline-block;
  color: #4f4f4f;
  max-width: 100%;
  word-wrap: break-word;
}
div.meteor-post.format-link > .meteor-quote blockquote a:hover {
  color: #fa5b15;
}
div.meteor-post.format-link > .meteor-quote > p span.title {
  margin-left: 0;
  font-weight: 400;
}
div.meteor-post.format-aside > .meteor-quote:before {
  content: "\f0f6";
  font-size: 145%;
}
div.meteor-post.format-aside > .meteor-quote > .post-content {
  font-size: 100%;
  line-height: 1.6em;
}
div.meteor-post.format-chat > .meteor-quote:before {
  content: "\f0e6";
  font-size: 148%;
}
div.meteor-post.format-chat > .meteor-quote > .post-content {
  font-size: 100%;
  line-height: 1.6em;
}
div.meteor-post.format-status .status-container > a.avatar {
  display: block;
  float: left;
}
div.meteor-post.format-status .status-container > a.avatar img {
  display: block;
}
div.meteor-post.format-status .status-container .post-content {
  overflow: hidden;
  margin-top: 1em;
  padding-left: 20px;
  font-family: "Raleway";
  color: #636363;
  font-size: 100%;
  line-height: 1.6em;
}
div.meteor-post.format-status > ul.meteor-info {
  margin-top: 1em;
  margin-bottom: -0.8em;
}
div.meteor-post.format-audio aside.post-details i.post-icon:before {
  margin-left: -3px;
}
@media (max-width: 979px) {
  div.meteor-post > .post-details {
    padding-left: 44px;
  }
  div.meteor-post > .post-details > .post-meta h3.post-title {
    font-size: 130%;
  }
  div.meteor-post ul.meteor-info {
    font-size: 85%;
    margin-left: -1.5em;
  }
  div.meteor-post ul.meteor-info li {
    margin-left: 1.5em;
  }
}
@media (max-width: 479px) {
  div.meteor-post > .post-details > .post-meta h3.post-title {
    font-size: 119%;
  }
}
@media (max-width: 767px) {
  div.meteor-post > .post-img {
    margin-bottom: 0;
  }
  div.meteor-post > .post-img + .post-details {
    margin-top: 1em;
  }
  div.meteor-post > .post-details {
    padding-left: 0;
  }
  div.meteor-post i.post-icon {
    bottom: 0;
    left: 0;
  }
}
