/* layout/section-title.css */
#section-title + * {
  margin-top: 32px;
}
#section-title + .fullwidth {
  margin-top: -1px;
}
#section-title .wrap {
  position: relative;
  background: #fcfcfc;
  border: solid #dbdbdb;
  border-width: 1px 0;
  padding: 18px 0;
  background-image: -webkit-linear-gradient(#fcfcfc, #f5f5f5);
  background-image: -moz-linear-gradient(#fcfcfc, #f5f5f5);
  background-image: -o-linear-gradient(#fcfcfc, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5');
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5')";
  /* IE8+ */

  background-image: linear-gradient(#fcfcfc, #f5f5f5);
  -webkit-box-shadow: 0 2px 3px rgba(41, 41, 41, 0.06) inset;
  -moz-box-shadow: 0 2px 3px rgba(41, 41, 41, 0.06) inset;
  -o-box-shadow: 0 2px 3px rgba(41, 41, 41, 0.06) inset;
  box-shadow: 0 2px 3px rgba(41, 41, 41, 0.06) inset;
}
.ie #section-title .wrap {
  border-radius: 0 !important;
}
#section-title .wrap:before {
  position: absolute;
  display: block;
  content: "\020";
  width: 100%;
  height: 1px;
  background: white;
  bottom: 0;
  opacity: 0.15;
}
#section-title .container {
  position: relative;
  word-wrap: break-word;
  padding: 0 0;
}
#section-title .container h1.title,
#section-title .container small.meta,
#section-title .container p.breadcrumb {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}
#section-title .container h1.title {
  font-family: "Raleway";
  font-size: 170%;
  font-weight: 400;
  color: #4f4f4f;
  margin: 0;
}
#section-title .container small.meta {
  display: block;
  margin: 0.4em 0 0 0;
  color: #7c7c7c;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}
#section-title ul.meteor-info {
  margin-top: 0.4em;
  margin-bottom: 0;
  font-size: 90%;
  text-shadow: 0 1px 0 #ffffff;
}
#section-title ul.meteor-info li {
  color: #8e8e8e;
}
#section-title ul.meteor-info li a:hover {
  color: #fb773d;
}
#section-title div.breadcrumb {
  border-bottom: solid 1px #eeeeee;
}
#section-title div.breadcrumb .container {
  padding: 13px 0;
}
#section-title div.breadcrumb .container p {
  font-size: 90%;
  margin: 0;
  bottom: 0;
  right: 0;
  color: #898989;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}
#section-title div.breadcrumb .container p span.sep {
  display: inline-block;
  margin: 0 0.4em;
}
#section-title div.breadcrumb .container p span.sep:after {
  font-family: "FontAwesome", sans-serif;
  content: "\f105";
  color: #fa5b15;
}
#section-title div.breadcrumb .container p a {
  color: #fa5b15;
}
#section-title div.breadcrumb .container p a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) and (max-width: 979px) {
  #section-title .container h1.title {
    font-size: 145%;
  }
  #section-title .container small.meta {
    font-size: 90%;
  }
}
@media (max-width: 767px) {
  #section-title .container h1.title {
    font-size: 135%;
    font-weight: 500;
  }
  #section-title .container small.meta {
    font-size: 90%;
  }
}
@media (max-width: 479px) {
  #section-title .container h1.title {
    font-size: 120%;
  }
}
