<{{{element}}} class="meteor-{{#is_heading}}heading{{/is_heading}}{{^is_heading}}text{{/is_heading}} {{{class}}}{{#align}} text-{{{align}}}{{/align}}{{#color_class}} {{{color_class}}}{{/color_class}}" style="{{#color}}color: {{{color}}}; {{/color}}font-size: {{#size}}{{{size}}}{{/size}}{{^size}}185%{{/size}} !important; font-weight: {{{weight}}} !important;{{#margin}} margin: {{{margin}}} !important;{{/margin}}">{{{content}}}</{{{element}}}>