{{#first}}<div class="meteor-accordion">{{/first}}

  <div class="item{{#active}} active{{/active}}">
    <h3 class="title">{{title}}</h3>
    <div class="acc-content post-content">
     {{{content}}}
    </div><!-- .acc-content -->
  </div><!-- .item -->{{#last}}

</div><!-- .meteor-accordion -->{{/last}}