<ul class="nostyle special icon-list">
  {{#items}}
  <li><i class="list-icon icon-{{{icon}}}{{#color_class}} {{{color_class}}}{{/color_class}}" style="font-size: {{#size}}{{{size}}}{{/size}}{{^size}}85%{{/size}} !important;{{#color}} color: {{{color}}} !important;{{/color}}"></i> {{{item}}}</li>
  {{/items}}
</ul>
