<div class="meteor-pricing {{{container_class}}}{{#split}} {{{split}}}{{/split}}{{#visibility}} {{{visibility}}}{{/visibility}}"{{#inline_css}} style="{{{inline_css}}}"{{/inline_css}}>
  {{#title_heading}}<h2 class="title-heading">{{title_heading}}</h2>{{/title_heading}}
  {{#rows}}
  <div class="row">

    {{#posts}}
    <div class="pricing-item {{#meta_active}}active {{/meta_active}}item {{{columns_class}}} post-content">
      <h4 class="title">{{{title}}}</h4>{{! title is escaped in component-get-posts.php}}
      <div class="price">
        {{#money_symbol}}<span class="currency">{{{money_symbol}}}</span>{{/money_symbol}}
        {{#meta_price}}<span class="amount">{{meta_price}}</span>{{/meta_price}}
        {{#meta_method}}<span class="recurrence">{{meta_method}}</span>{{/meta_method}}
      </div><!-- .price -->
      <ul class="details text-{{{text_align}}}">
        {{#content}}
        {{#feature}}<li>{{#icon}}<i class="{{{icon}}}"></i> &nbsp; {{/icon}}{{{feature}}}</li>{{/feature}}
        {{/content}}
      </ul><!-- .details -->
      <div class="button-container text-center">
        <a{{#meta_url}} href="{{{meta_url}}}" {{/meta_url}} class="meteor-button {{{button_class}}}">{{{button_text}}}</a>
      </div><!-- .button-container -->
    </div><!-- .pricing-item -->

    {{/posts}}
  </div><!-- .row -->
  {{/rows}}
</div><!-- .meteor-pricing -->