<a{{#id}} id="{{{id}}}"{{/id}}{{#external}} target="_blank"{{/external}} class="{{{button_class}}}{{#fullwidth}} fw{{/fullwidth}}{{^url}} hoverable{{/url}}{{#class}} {{{class}}}{{/class}}"{{#url}} href="{{{url}}}"{{/url}}{{#style}} style="{{{style}}}"{{/style}}>{{^icon_right}}{{#icon}}<i class="icon-{{{icon}}}"></i> &nbsp; {{/icon}}{{/icon_right}}{{text}}{{#icon_right}}{{#icon}} &nbsp; <i class="icon-{{{icon}}}"></i>{{/icon}}{{/icon_right}}</a>