{{#fullwidth}}<section class="block fullwidth">{{/fullwidth}}
  <div class="{{#fullwidth}}container-full{{/fullwidth}}{{^fullwidth}}{{{container_class}}}{{/fullwidth}}{{#visibility}} {{{visibility}}}{{/visibility}}"{{#inline_css}} style="{{{inline_css}}}"{{/inline_css}}>
    <div class="meteor-slider slider-core{{^fullwidth}} boxed{{/fullwidth}}" {{{options}}}>
      <ul class="slides">
        {{#gallery_images}}
        <li{{#title}} data-title="{{title}}"{{/title}}{{#description}} data-description="{{description}}"{{/description}}{{#url}} data-uri="{{{url}}}"{{/url}}>
          <img alt="" src="{{{image}}}" />
        </li>
        {{/gallery_images}}
      </ul>
    </div><!-- .meteor-slider -->
  </div><!-- .container -->
{{#fullwidth}}</section>{{/fullwidth}}