<div class="meteor-notification {{{type}}}{{#icon}} icon{{/icon}}{{#dismiss}} dismiss{{/dismiss}}">
  {{#icon}}<i class="{{{icon}}}"></i>{{/icon}}
  <div class="content">{{{content}}}</div>
</div><!-- .meteor-notification -->