{{#fullwidth}}<section class="block fullwidth">{{/fullwidth}}
  <div class="{{#fullwidth}}container-full{{/fullwidth}}{{^fullwidth}}{{{container_class}}}{{/fullwidth}}{{#visibility}} {{{visibility}}}{{/visibility}}"{{#inline_css}} style="{{{inline_css}}}"{{/inline_css}}>
    <div class="meteor-{{{slider}}}-container{{^fullwidth}} boxed{{/fullwidth}}" {{{options}}}>
{{{content}}}
    </div><!-- .meteor-{{{slider}}}-container -->
  </div><!-- .container -->
{{#fullwidth}}</section>{{/fullwidth}}