
<section class="block container">
  <div class="row">
    <div class="meteor-clients scrollable{{#enable_tooltips}} tooltips{{/enable_tooltips}}{{#lightbox}} lightbox{{/lightbox}}{{#opacity_effect}} opacity-effect{{/opacity_effect}}{{#visibility}} {{{visibility}}}{{/visibility}} {{{container_class}}}"{{#width_adjust}} data-width-adjust="{{{width_adjust}}}"{{/width_adjust}} data-tooltip-options="container: body, delay.show: 50, delay.hide: 80"{{#inline_css}} style="{{{inline_css}}}"{{/inline_css}}>
      {{#title_heading}}<h2 class="title-heading">{{title_heading}}</h2>{{/title_heading}}
      <div class="meteor-jcarousel" data-options="duration: {{{duration}}}, easing: {{{easing}}}, wrap: {{{wrap}}}{{#autoscroll}}, autoscroll,{{#autoscroll_pause_on_hover}} autoscrollPauseOnHover,{{/autoscroll_pause_on_hover}} autoscrollInterval: {{{autoscroll_interval}}}{{/autoscroll}}">
        <ul class="row clearfix" data-columns="{{{visual_columns}}}">
          {{#items}}
          <li class="item span{{{columns}}}"><a{{#enable_tooltips}}{{#title}} title="{{title}}"{{/title}}{{/enable_tooltips}}{{#enable_links}} href="{{#lightbox}}{{{image_src}}}{{/lightbox}}{{^lightbox}}{{#url}}{{{url}}}{{/url}}{{/lightbox}}"{{/enable_links}}{{#min_opacity}} style="opacity: {{{min_opacity}}};"{{/min_opacity}}{{#opacity_effect}}{{#max_opacity}} data-max-opacity="{{{max_opacity}}}"{{/max_opacity}}{{/opacity_effect}}><img alt="{{title}}" src="{{{image}}}" /></a></li>
          {{/items}}
        </ul>
      </div><!-- .meteor-jcarousel -->
    </div><!-- .meteor-clients -->
  </div><!-- .row -->
</section>
