{{#fullwidth}}<section class="meteor-google-map fullwidth block{{#visibility}} {{{visibility}}}{{/visibility}}" style="height: {{{height}}}px; border: solid {{{border_color}}}; border-width: 1px 0;{{#inline_css}} {{{inline_css}}}{{/inline_css}}">
{{/fullwidth}}<div class="{{^fullwidth}}meteor-google-map {{{container_class}}}{{/fullwidth}}{{#visibility}} {{{visibility}}}{{/visibility}}" style="height: {{{height}}}px; border: solid {{{border_color}}}; border-width: 1px 0;{{#inline_css}} {{{inline_css}}}{{/inline_css}}">
<span class="map-data hidden">{{{json}}}</span>{{#content}}
<div class="infobox-content hidden">
  {{{content}}}
</div>{{/content}}
</div><!-- .meteor-google-map -->{{#fullwidth}}
</section>{{/fullwidth}}