<div class="meteor-icon-big{{#tooltip}} tooltips{{/tooltip}}">
  <a {{#tooltip}}{{#title}}title="{{title}}" {{/title}}{{/tooltip}}class="wrapper rounded"{{#url}} href="{{{url}}}"{{/url}}{{#background}} data-background-color="{{{background}}}"{{/background}}{{#hover_color}} data-hover-color="{{{hover_color}}}"{{/hover_color}}{{#hover_background}} data-hover-background="{{{hover_background}}}"{{/hover_background}}{{#has_border}} data-border-color="{{{border_color}}}"{{#border_hover_width}} data-hover-border-width="{{{border_hover_width}}}"{{/border_hover_width}}{{#border_hover_color}} data-hover-border-color="{{{border_hover_color}}}"{{/border_hover_color}}{{/has_border}}>
    <span class="border-container rounded"{{#has_border}} style="border: {{{border_style}}} {{{border_width}}} transparent;"{{/has_border}}></span>
    <i class="icon-{{{icon}}}{{#color_class}} {{{color_class}}}{{/color_class}}" style="{{#color}}color: {{{color}}}; {{/color}}font-size: {{#size}}{{{size}}}{{/size}}{{^size}}8em{{/size}} !important; padding: {{{padding}}} !important;"></i>
  </a>
  {{#title}}<span class="title" style="font-size: {{#title_size}}{{{title_size}}}{{/title_size}}{{^title_size}}1.5em{{/title_size}} !important;"><a href="{{{url}}}">{{title}}</a></span>{{/title}}
</div><!-- .meteor-icon-big -->