{{#first}}<div class="meteor-tabs">{{/first}}

  <div class="tab{{#active}} active{{/active}}">
    <h3 class="tab-title">{{#icon}}<i class="icon-{{{icon}}}"></i> &nbsp; {{/icon}}{{title}}</h3>
    <div class="tab-content">
      {{{content}}}
    </div><!-- .tab-content -->
  </div><!-- .tab -->{{#last}}

</div><!-- .meteor-tabs -->{{/last}}