<div class="{{{container_class}}}{{#visibility}} {{{visibility}}}{{/visibility}}"{{#inline_css}} style="{{{inline_css}}}"{{/inline_css}}>
  <div class="meteor-cta boxed clearfix">
    <h3>{{{title}}}</h3>
    {{#description}}<p>{{{description}}}</p>{{/description}}
    <div class="button-container"><a class="{{{link_class}}}" href="{{{url}}}">{{{link_text}}}</a></div>
  </div><!-- .meteor-cta -->
</div><!-- .{{{container_class}}} -->
