
<section id="section-title" class="block"{{#inline_css}} style="{{{inline_css}}}"{{/inline_css}}>
  <div class="wrap">
    <div class="container">
      <h1 class="title">{{{title}}}</h1>
      {{#show_description}}{{{description}}}{{/show_description}}
    </div><!-- .container -->
  </div><!-- .wrap -->
  {{#show_breadcrumb}}<div class="breadcrumb">
    <div class="container">
      <p>{{{breadcrumb}}}</p>
    </div><!-- .container -->
  </div><!-- .breadcrumb -->{{/show_breadcrumb}}
</section><!-- .section-title -->
