<div class="meteor-posts scroller {{{container_class}}}{{#split}} {{{split}}}{{/split}}{{#visibility}} {{{visibility}}}{{/visibility}}"{{#opt_permalink}} data-permalink="true"{{/opt_permalink}}{{#opt_lightbox}} data-lightbox="true"{{/opt_lightbox}}{{#opt_gallery}} data-gallery="true"{{/opt_gallery}}{{#click_behavior}} data-click-behavior="{{{click_behavior}}}"{{/click_behavior}}{{#inline_css}} style="{{{inline_css}}}"{{/inline_css}}>
  {{#title_heading}}<h2 class="title-heading">{{title_heading}}</h2>{{/title_heading}}
  <div class="row">
    <div class="wrapper jcarousel" data-parent-columns="{{{slots}}}" data-columns="{{{columns}}}" data-options="duration: {{{duration}}}, easing: {{{easing}}}, wrap: {{{wrap}}}{{#autoscroll}}, autoscroll,{{#autoscroll_pause_on_hover}} autoscrollPauseOnHover,{{/autoscroll_pause_on_hover}} autoscrollInterval: {{{autoscroll_interval}}}{{/autoscroll}}">
      {{#posts}}
      <div class="item {{{columns_class}}} {{{post_class}}}">
        {{#image}}<div class="frame" data-permalink="{{{permalink}}}">
          <a href="{{#opt_lightbox}}{{{image_src}}}{{/opt_lightbox}}{{^opt_lightbox}}{{{permalink}}}{{/opt_lightbox}}"><img alt="{{{title}}}" width="{{{width}}}" height="{{{height}}}" src="{{{image}}}"></a>
        </div><!-- .frame -->{{/image}}
        <div class="meta{{#title_align}} text-{{{title_align}}}{{/title_align}}">
          <h3 class="title">{{#title_link}}{{#permalink}}<a href="{{{permalink}}}">{{/permalink}}{{/title_link}}{{#title_icon}}<i class="{{{title_icon}}}"></i> &nbsp; {{/title_icon}}{{{title}}}{{#title_link}}{{#permalink}}</a>{{/permalink}}{{/title_link}}</h3>
          {{#show_description}}<small class="desc">{{{description}}}</small>{{/show_description}}
        </div><!-- .meta -->
        {{#show_excerpt}}{{#excerpt}}<div class="excerpt{{#excerpt_align}} text-{{{excerpt_align}}}{{/excerpt_align}}">
          {{{excerpt}}}
        </div><!-- .excerpt -->{{/excerpt}}{{/show_excerpt}}
        {{#show_link}}{{#link_align}}<div class="text-{{{link_align}}}">{{/link_align}}<a class="{{{link_class}}}" href="{{{permalink}}}">{{{more_text}}}</a>{{#link_align}}</div>{{/link_align}}{{/show_link}}
      </div><!-- .item -->
      {{/posts}}
    </div><!-- .jcarousel -->
  </div><!-- .row -->
</div><!-- .meteor-posts -->