<div class="meteor-line"{{#margin}} style="margin: {{{margin}}} !important;"{{/margin}}><hr{{#color_class}} class="{{{color_class}}}-bg"{{/color_class}}{{#color}} style="color: {{{color}}} !important;"{{/color}} /></div>