{{#single}}<div class="meteor-testimonials ready" {{{options}}}>
  <ul>{{/single}}
    {{#container}}{{{content}}}{{/container}}{{! This template is recursive }}
    {{^container}}<li>
      <blockquote class="no-child-margins">
        {{{content}}}
      </blockquote>
      <p class="details">
        {{#from}}<strong class="author">{{#url}}<a href="{{{url}}}">{{/url}}{{from}}{{#url}}</a>{{/url}}</strong>{{/from}}
        {{#description}}<span class="title">{{description}}</span>{{/description}}
      </p><!-- .details -->
    </li>{{/container}}
{{#single}}  </ul>
</div><!-- .meteor-testimonials -->{{/single}}