<div class="{{{mode}}}{{#on}}-{{{on}}}{{/on}}" style="{{#margin}}margin: {{{margin}}} !important;{{/margin}}{{#padding}} padding: {{{padding}}} !important;{{/padding}}">
{{{content}}}
</div><!-- .{{{mode}}}{{#on}}-{{{on}}}{{/on}} -->