{{#is_dual}}{{#first}}<div class="dual-container entry {{dual_type}} clearfix">
  <div class="half left">
    {{#is_input}}{{> meteor_form_input}}{{/is_input}}
    {{#is_select}}{{> meteor_form_select}}{{/is_select}}
    {{#is_textarea}}{{> meteor_form_textarea}}{{/is_textarea}}
  </div><!-- .half -->{{/first}}{{#last}}  <div class="half right">
    {{#is_input}}{{> meteor_form_input}}{{/is_input}}
    {{#is_select}}{{> meteor_form_select}}{{/is_select}}
    {{#is_textarea}}{{> meteor_form_textarea}}{{/is_textarea}}
  </div><!-- .half -->
</div><!-- .dual-container -->{{/last}}
{{/is_dual}}
{{^is_dual}}
{{#is_input}}
<p class="entry text">
  {{> meteor_form_input}}
</p><!-- .entry -->
{{/is_input}}
{{#is_select}}
<p class="entry select">
  {{> meteor_form_select}}
</p><!-- .entry -->
{{/is_select}}
{{#is_radio}}
<p class="entry radio{{#standout}} standout{{/standout}}">
  <label>{{label}}</label>
  {{#options}}
  <label><input type="radio" name="{{{name}}}" value="{{value}}"{{#checked}} checked="checked"{{/checked}} /> {{value}}</label>
  {{/options}}
</p><!-- .entry -->
{{/is_radio}}
{{#is_check}}
  {{^nolabel}}<label class="simple" for="{{{id}}}">{{/nolabel}}<input type="checkbox" id="{{{id}}}" name="{{{name}}}"{{#checked}} checked="checked"{{/checked}}{{#enables}} data-enables="{{enables}}"{{/enables}} />{{^nolabel}} {{label}}</label>{{/nolabel}}
{{/is_check}}
{{#is_checkbox}}
<p class="entry checkbox{{#standout}} standout{{/standout}}">
  <label>{{label}}</label>
  {{#options}}
  <label for="{{{id}}}"><input type="checkbox" id="{{{id}}}" name="{{{name}}}"{{#checked}} checked="checked"{{/checked}} /> {{label}}</label>
  {{/options}}
</p><!-- .entry -->
{{/is_checkbox}}
{{#is_textarea}}
<p class="entry textarea">
{{> meteor_form_textarea}}
</p><!-- .entry -->
{{/is_textarea}}
{{#is_submit}}
<p class="entry submit">
  <input type="submit" id="{{{id}}}" value="{{label}}" data-size="{{{size}}}"{{#icon}} data-icon="icon-{{{icon}}}"{{/icon}} />
</p><!-- .entry -->
{{/is_submit}}
{{/is_dual}}