{{#first}}<div class="meteor-skills">
  <ul>
{{/first}}    <li>
      <strong>{{#icon}}<i class="icon-{{{icon}}}"></i> &nbsp; {{/icon}}{{title}}</strong> <em>{{{percent}}}%</em>
      <span class="bar" style="width: {{{percent}}}%;"></span>
    </li>{{#last}}
  </ul>
</div><!-- .meteor-skills -->{{/last}}