<span class="meteor-icon{{#shape}} {{{shape}}}{{/shape}}" style="font-size:{{#size}}{{{size}}}{{/size}}{{^size}}130%{{/size}} !important;{{#margin}} margin:{{{margin}}};{{/margin}}">
  {{#is_default}}<i class="icon-{{{icon}}}{{#color_class}} {{{color_class}}}{{/color_class}}"{{^color_class}} style="color:{{#color}}{{{color}}}{{/color}}{{^color}}inherit{{/color}} !important;"{{/color_class}}></i>
  {{/is_default}}{{#is_circle}}<i class="rounded icon-{{{icon}}}{{#color_class}} {{{color_class}}}{{/color_class}}{{#bg_class}} {{{bg_class}}}{{/bg_class}}" style="width: {{{size}}}; height: {{{size}}}; {{#color}}color:{{#color}}{{{color}}}{{/color}} !important; {{/color}}{{#bg}}background: {{{bg}}} !important; {{/bg}}{{#padding}}padding: {{{padding}}}px !important;{{/padding}}"></i>{{/is_circle}}
</span><!-- .meteor-icon -->