<div class="meteor-toggle {{{size}}}"{{#active}} data-expanded="true"{{/active}}>
  <h3><span>{{#icon}}<i class="icon-{{{icon}}}"></i> &nbsp; {{/icon}}{{{title}}}</span></h3>
  <div class="post-content">
{{{content}}}
  </div>
</div><!-- .meteor-toggle -->