{{#open}}
<div class="sidebar {{{container_class}}}{{#visibility}} {{visibility}}{{/visibility}}"{{#inline_css}} style="{{{inline_css}}}"{{/inline_css}}>
{{/open}}
{{#close}}

</div><!-- .sidebar -->
{{/close}}