<div class="styled-separator" style="{{#color}}color: {{{color}}}; {{/color}}{{#margin}}margin: {{{margin}}} !important;{{/margin}}{{#color}} color: {{{color}}} !important;{{/color}}">
  <span>
    <hr class="line left{{#line_color_class}} {{{line_color_class}}}-bg{{/line_color_class}}" style="{{#linecolor}}background-color: {{{linecolor}}} !important;{{/linecolor}}{{#linesep}} margin-left: -{{{linesep}}} !important;{{/linesep}}" />
    <i class="icon-{{#icon}}{{{icon}}}{{/icon}}{{^icon}}circle-blank{{/icon}}{{#color_class}} {{{color_class}}}{{/color_class}}" style="{{#color}}color: {{{color}}} !important; {{/color}}{{#size}}font-size: {{{size}}} !important;{{/size}}"></i>
    <hr class="line right{{#line_color_class}} {{{line_color_class}}}-bg{{/line_color_class}}" style="{{#linecolor}}background-color: {{{linecolor}}} !important;{{/linecolor}}{{#linesep}} margin-right: -{{{linesep}}} !important;{{/linesep}}" />
  </span>
</div>                                             