<div class="meteor-404 post-content">

<h1 class="big-404"><i class="{{{icon}}}"></i></h1>

<div class="ovh">

  <h2>{{{error_label}}}</h2>

  <p>{{{error_description}}}</p>

  <form class="meteor-form" action="{{{home_url}}}" method="get" >
    <div class="dual-container entry text clearfix">
      <div class="entry">
        <input class="float-left" type="text" name="s" placeholder="{{{search_text}}}" />
      </div><!-- .entry -->
    </div><!-- .dual-container -->
  </form><!-- .meteor-form -->

  <p><a class="meteor-button medium" href="{{{home_url}}}"><i class="{{{home_btn_icon}}}"></i> &nbsp; {{back_to_homepage}}</a></p>

</div><!-- .ovh -->

</div><!-- .post-content -->