<div class="meteor-icon-posts type-image {{container_class}}{{#split}} {{{split}}}{{/split}}{{#visibility}} {{{visibility}}}{{/visibility}}"{{#inline_css}} style="{{{inline_css}}}"{{/inline_css}}>
{{#title_heading}}<h2 class="title-heading">{{title_heading}}</h2>{{/title_heading}}
{{#rows}}
  <div class="row">
    {{#posts}}
    <div class="item {{{columns_class}}} text-{{{align}}} {{{post_class}}}"{{#padding}} style="padding-{{{align}}}: {{{padding}}}px;"{{/padding}}>
      {{#image}}<div class="icn-image" data-align="{{{align}}}">{{#icon_link}}{{#meta_url}}<a href="{{{meta_url}}}">{{/meta_url}}{{/icon_link}}
        <span class="img-wrap{{#shape_class}} {{{shape_class}}}{{/shape_class}}{{#shape_effect_class}} {{{shape_effect_class}}}{{/shape_effect_class}}"><img alt=""{{#width}} width="{{{width}}}"{{/width}}{{#height}} height="{{{height}}}"{{/height}} src="{{{image}}}" /></span>
      {{#icon_link}}{{#meta_url}}</a>{{/meta_url}}{{/icon_link}}</div><!-- .icn-image -->{{/image}}
      <div class="meta">
        <h3 class="title">{{#title_link}}{{#meta_url}}<a href="{{{meta_url}}}">{{/meta_url}}{{/title_link}}{{title}}{{#title_link}}{{#meta_url}}</a>{{/meta_url}}{{/title_link}}</h3>
        {{#show_description}}{{#meta_description}}<small class="desc">{{meta_description}}</small>{{/meta_description}}{{/show_description}}
      </div><!-- .meta -->
      {{#show_excerpt}}{{#excerpt_align}}<div class="text-{{{excerpt_align}}}">{{/excerpt_align}}{{{excerpt}}}{{#excerpt_align}}</div>{{/excerpt_align}}{{/show_excerpt}}
      {{#show_link}}{{#meta_url}}{{#link_align}}<div class="text-{{{link_align}}}">{{/link_align}}<a class="{{{link_class}}}" href="{{{meta_url}}}">{{{more_text}}}</a>{{#link_align}}</div>{{/link_align}}{{/meta_url}}{{/show_link}}
    </div><!-- .item -->
    {{/posts}}
  </div><!-- .row -->
{{/rows}}
</div><!-- .meteor-icon-posts -->