/* Typography Styles */

body { font-size: {{{fontSize}}}px; }

header[role=banner] ul#navigation > li > a { font-size: {{{navFontSize}}}%; }

.mceContentBody { font-size: {{{editorFontSize}}}px !important; }

.post-content h1, .mceContentBody h1 { font-size: {{{h1FontSize}}}% !important; }

.post-content h2, .mceContentBody h2 { font-size: {{{h2FontSize}}}% !important; }

.post-content h3, .mceContentBody h3 { font-size: {{{h3FontSize}}}% !important; }

.post-content h4, .mceContentBody h4 { font-size: {{{h4FontSize}}}% !important; }

.post-content h5, .mceContentBody h5 { font-size: {{{h5FontSize}}}% !important; }

.post-content h6, .mceContentBody h6 { font-size: {{{h6FontSize}}}% !important; }

body,
input[type=text],
input[type=email],
input[type=password],
textarea,
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn .meta-tag,
.meteor-skills ul li em,
.cute-slider .br-slideinfo .text, .body-font {
  font-family: {{#webfontsEnabled}}"{{{primaryFont}}}"{{/webfontsEnabled}}{{^webfontsEnabled}}"PT Sans", Helvetica, Arial{{/webfontsEnabled}}, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sidebar .widget>h3.title,
div.meteor-icon-big span.title,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
table th,
header[role=banner] select#mobile-nav,
header[role=banner] select#mobile-nav>*,
header[role=banner] ul#navigation>li>a,
#section-title .container h1.title,
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn,
.meteor-comments ol.commentlist li.comment footer.comment-meta div.comment-author span.fn a,
div.meteor-post div.single-post-navigation a.post-link,
div.meteor-post div.share-links strong,
div.meteor-post>.post-details>.post-meta h3.post-title,
div.meteor-post.format-status .status-container .post-content,
.meteor-button,
.meteor-quote,
.meteor-tabs>ul.tabs-head li,
.meteor-skills ul li strong,
.meteor-pricing .pricing-item>div.price span.amount,
.meteor-slider .meteor-meta>.container>a h3,
.cute-slider .br-slideinfo .title, .alternate-font, .tp-caption {
  font-family: {{#webfontsEnabled}}"{{{secondaryFont}}}"{{/webfontsEnabled}}{{^webfontsEnabled}}"Raleway", "Helvetica Neue", Helvetica, Arial{{/webfontsEnabled}}, sans-serif !important;
}