<div class="meteor-photostream flickr" {{{options}}}>
  <ul class="clearfix">
    {{#items}}
    <li><a class="clearfix"><img alt="" src="{{{placeholder}}}" /></a></li>
    {{/items}}
  </ul>
</div><!-- .meteor-photostream -->