<div class="meteor-tabs">
{{#has_popular}}
  <div class="tab tab-popular{{#popular_active}} active{{/popular_active}}">
    <h3 class="tab-title">{{popular_label}}</h3>
    <div class="tab-content">
      <ul class="meteor-mini-posts">
        {{#popular}}
        {{> widget_blog_activity_minipost}}
        {{/popular}}
      </ul><!-- .meteor-mini-posts -->
    </div><!-- .tab-content -->
  </div><!-- .tab -->
{{/has_popular}}
{{#has_recent}}
  <div class="tab tab-recent{{#recent_active}} active{{/recent_active}}">
    <h3 class="tab-title">
      <span class="visible-phone-portrait">&nbsp;<i class="icon-time"></i></span>
      <span class="visible-phone-landscape"><i class="icon-time"></i> {{recent_label}}</span>
      <span class="visible-tablet"><i class="icon-time abs"></i>&nbsp;</span>
      <span class="visible-desktop hidden-desktop-widescreen">{{recent_label}}</span>
      <span class="visible-desktop-widescreen"><i class="icon-time"></i> {{recent_label}}</span>
    </h3>
    <div class="tab-content">
      <ul class="meteor-mini-posts">
        {{#recent}}
        {{> widget_blog_activity_minipost}}
        {{/recent}}
      </ul><!-- .meteor-mini-posts -->
    </div><!-- .tab-content -->
  </div><!-- .tab -->
{{/has_recent}}
{{#has_comments}}
  <div class="tab tab-comments{{#comments_active}} active{{/comments_active}}">
    <h3 class="tab-title">
      <span class="visible-phone-portrait"><i class="icon-comments"></i></span>
      <span class="visible-phone-landscape"><i class="icon-comments"></i> {{comments_label}}</span>
      <span class="visible-tablet"><i class="icon-comments abs"></i>&nbsp;</span>
      <span class="visible-desktop hidden-desktop-widescreen">{{comments_label}}</span>
      <span class="visible-desktop-widescreen"><i class="icon-comments"></i> {{comments_label}}</span>
    </h3>
    <div class="tab-content">
      <ul class="meteor-mini-posts">
        {{#comments}}
        <li>
          <a class="post-img rounded inner-shadow-black"{{#author_url}} href="{{{author_url}}}"{{/author_url}}>
            {{{avatar}}}
          </a>
          <p class="wrap">
            <small class="desc"><em>{{author}} {{says}}:</em></small>
            <a class="title" href="{{{comment_link}}}">{{comment_content}}</a>
          </p>
        </li>
        {{/comments}}
      </ul><!-- .meteor-mini-posts -->
    </div><!-- .tab-content -->
  </div><!-- .tab -->
{{/has_comments}}
</div><!-- .meteor-tabs -->