<div class="twitter-feed-opts post-content" data-username="{{{username}}}" data-count="{{{count}}}">
  <i class="icon-spinner icon-spin"></i>
</div><!-- .post-content -->
{{#profile_button}}<p class="button-container">
  <a class="meteor-button small" target="_blank" href="http://twitter.com/{{{username}}}">{{{button_text}}}</a>
</p><!-- .button-container -->{{/profile_button}}