<label for="{{{id}}}"{{#required}} class="required"{{/required}}>{{label}}</label>
<textarea id="{{{id}}}" class="autosize{{#required}} required{{/required}}{{^required}}{{#validates}} {{{validates}}}{{/validates}}{{/required}}" name="{{{name}}}" class="autosize" rows="{{{rows}}}" cols="{{{cols}}}"{{#validates}} data-validation="{{{validates}}}"{{/validates}} ></textarea>