{{#has_video}}
<div class="post-video">
  {{#video_embed}}{{{video_embed}}}{{/video_embed}}
  {{#video_file}}
  <video id="{{{video_id}}}" class="video-js vjs-default-skin"
    controls="controls" width="100%">
   <source src="{{{video_file}}}" type='{{{video_mimetype}}}' />
  </video>
  {{/video_file}}
</div><!-- .post-video -->
{{/has_video}}