{{#single_post}}
{{{rand}}}
{{/single_post}}{{^single_post}}
{{#icon}}<aside class="post-details">
  {{^post_style_aside}}<i class="post-icon {{{icon}}} {{^mobile_icon}}hidden-phone{{/mobile_icon}}"></i>{{/post_style_aside}}{{/icon}}
  <div class="post-meta{{#mobile_icon}} mobile-icon{{/mobile_icon}}">
    {{^is_link}}<h3 class="post-title"><a href="{{{permalink}}}">{{{title}}}</a></h3>{{}}{{/is_link}}
    {{#excerpt}}{{#metadata}}{{{metadata}}}{{/metadata}}{{/excerpt}}{{^excerpt}}{{#metadata_all}}{{{metadata_all}}}{{/metadata_all}}{{/excerpt}}
  </div><!-- .post-meta -->
  {{#excerpt_or_editlink}}<div class="post-content">
    {{{excerpt}}}
    {{#edit_post_link}}{{{edit_post_link}}}{{/edit_post_link}}
  </div><!-- .post-content -->{{/excerpt_or_editlink}}
  {{#excerpt}}{{#metadata_tags}}{{{metadata_tags}}}{{/metadata_tags}}{{/excerpt}}
  {{#excerpt}}{{#show_link}}<div class="more-link-container">
    <a class="{{{link_class}}}" href="{{{permalink}}}">{{{more_text}}}</a>
  </div><!-- .more-link-container -->{{/show_link}}{{/excerpt}}
{{#icon}}</aside><!-- .post-details -->{{/icon}}
{{/single_post}}