{{#rows}}
<div class="row-fluid">
  {{#items}}
  <div class="item inner span{{{gallery_columns}}}">
    <div class="frame"{{#opt_permalink}} data-permalink="{{{url}}}"{{/opt_permalink}}>
      <a href="{{#opt_lightbox}}{{{image_src}}}{{/opt_lightbox}}{{^opt_lightbox}}{{{url}}}{{/opt_lightbox}}"><img alt="{{title}}" src="{{{image}}}"></a>
    </div><!-- .frame -->
    {{#show_meta}}<div class="meta text-{{{gallery_title_align}}}">
      {{#gallery_title}}<h3><a{{#url}} href="{{{url}}}"{{/url}}>{{#gallery_title_icon}}<i class="{{{gallery_title_icon}}}"></i> &nbsp; {{/gallery_title_icon}}{{title}}</a></h3>{{/gallery_title}}
      {{#gallery_description}}{{#description}}<small class="desc">{{description}}</small>{{/description}}{{/gallery_description}}
    </div>{{/show_meta}}
  </div><!-- .item -->
  {{/items}}
</div><!-- .row-fluid -->
{{/rows}}