{{^nolabel}}<label for="{{{id}}}"{{#required}} class="required"{{/required}}>{{label}}</label>{{/nolabel}}
<input type="text" id="{{{id}}}"{{#required}} class="required"{{/required}}{{^required}}{{#validates}} class="{{{validates}}}"{{/validates}}{{/required}} name="{{{name}}}" value="{{{value}}}"{{#validates}} data-validation="{{{validates}}}"{{/validates}}{{#placeholder}} placeholder="{{label}}"{{/placeholder}} />
